<div *ngIf="this.cardEditedPreview$ | async as card">
  <button
    class="modal-close"
    (click)="closeModal()">
    <i class='fa fa-remove'></i>
  </button>

  <i class="fa fa-remove"></i> <span class="ml-2 icon-edit-card">Edit card details #{{this.card.id}}</span>

  <p class="paragraphy-header"
      mat-dialog-content>
      on {{ this.card.description }}
  </p>

  <form [formGroup]="editCardForm" (submit)="editCard()">
    <input
      class="form-control mt-2 ml-3 col-sm-10"
      type="text"
      placeholder="Add description your activity ..."
      name="description"
      formControlName="description"
    >

    <div class="col-lg-10" class="main-button">
      <button
        class="btn btn-secondary button-confirm"
        mat-button
        type="submit"
        [disabled]="!editCardForm.valid"
        >Confirm
      </button>
    </div>
  </form>
</div>
