<div class="container py-4 h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
      <div class="card shadow-2-strong" style="border-radius: 1rem;">
        <div class="card-body p-4 text-center">

          <h3 class="mb-4">Login Kandone</h3>

          <!--Form authentication - user input email and password-->
          <form class="form mt-4" (ngSubmit)="login()" #loginForm="ngForm">
            <div class="form-group">
              <div class="form-outline mb-4">
                <input
                  class="form-control"
                  type="email"
                  placeholder="Email"
                  name="email"
                  [(ngModel)]="email"
                  #campoUsername="ngModel"
                  required
                />
              <app-message-inputs-alert
                *ngIf="campoUsername.invalid && campoUsername.touched"
                mensagem="Please, enter your email"
              ></app-message-inputs-alert>
              </div>
            </div>

            <div class="form-group">
              <div class="form-outline mb-4">
                <input
                  class="form-control"
                  type="password"
                  placeholder="Password"
                  name="password"
                  [(ngModel)]="password"
                  #campoPassword="ngModel"
                  required
                />
                <app-message-inputs-alert
                *ngIf="campoPassword.invalid && campoPassword.touched"
                mensagem="Please, enter your password"
              ></app-message-inputs-alert>
              </div>
            </div>

            <button
              class="btn btn-primary btn-lg btn-block"
              type="submit"
              [disabled]="loginForm.invalid">
              Login
            </button>
          </form>

          <!--User click for create an account-->
          <hr class="my-3">
          <a [routerLink]="['signup']">Create an account</a>
        </div>
      </div>
    </div>
  </div>
</div>

