<div *ngIf="boardView$ | async as view" >
  <p class="mb-1 pl-3 board-name"> {{view.board.name}} </p>
  <div class="d-flex flex-row" cdkDropListGroup>

    <!--Column BACKLOG-->
    <app-board-column-tasks
        id="d-0"
        [name]="columnName.BACKLOG"
        cdkDropList
        [cdkDropListData]="view.cards_backlog"
        (cdkDropListDropped)="drop($event)">

      <div class="card mb-1 cursor-grab" *ngFor="let card of view.cards_backlog" cdkDrag>
        <app-card-task [description]="card.description">

          <app-button-del-card
            (boardViewAfterAdd$)="receveidBoardChild($event)"
            [cardId]="card.id">
          </app-button-del-card>

          <app-button-edit-card
            (boardViewAfterAdd$)="receveidBoardChild($event)"
            [cardId]="card.id">
          </app-button-edit-card>
        </app-card-task>
      </div>

      <button-add-new-card
        (boardViewAfterAdd$)="receveidBoardChild($event)"
        [boardId]="view.board.id"
        [column]="columnName.BACKLOG">
      </button-add-new-card>

    </app-board-column-tasks>

    <!--Column TO DO-->
    <app-board-column-tasks
        id="d-1"
        [name]="columnName.TO_DO"
        cdkDropList
        [cdkDropListData]="view.cards_todo"
        (cdkDropListDropped)="drop($event)">

      <div class="card mb-1 cursor-grab" *ngFor="let card of view.cards_todo" cdkDrag>
        <app-card-task [description]="card.description">

          <app-button-del-card
            (boardViewAfterAdd$)="receveidBoardChild($event)"
            [cardId]="card.id">
          </app-button-del-card>

          <app-button-edit-card
            (boardViewAfterAdd$)="receveidBoardChild($event)"
            [cardId]="card.id">
          </app-button-edit-card>
        </app-card-task>
      </div>

      <button-add-new-card
        (boardViewAfterAdd$)="receveidBoardChild($event)"
        [boardId]="view.board.id"
        [column]="columnName.TO_DO">
      </button-add-new-card>

    </app-board-column-tasks>

    <!--Column IN PROGRESS-->
    <app-board-column-tasks
        id="d-2"
        [name]="columnName.IN_PROGRESS"
        cdkDropList
        [cdkDropListData]="view.cards_inprogress"
        (cdkDropListDropped)="drop($event)">

      <div class="card mb-1 cursor-grab" *ngFor="let card of view.cards_inprogress" cdkDrag>
        <app-card-task [description]="card.description">

          <app-button-del-card
            (boardViewAfterAdd$)="receveidBoardChild($event)"
            [cardId]="card.id">
          </app-button-del-card>

          <app-button-edit-card
            (boardViewAfterAdd$)="receveidBoardChild($event)"
            [cardId]="card.id">
          </app-button-edit-card>
        </app-card-task>
      </div>

      <button-add-new-card
        (boardViewAfterAdd$)="receveidBoardChild($event)"
        [boardId]="view.board.id"
        [column]="columnName.IN_PROGRESS">
      </button-add-new-card>

    </app-board-column-tasks>

    <!--Column done-->
    <app-board-column-tasks
        id="d-3"
        [name]="columnName.DONE"
        cdkDropList
        [cdkDropListData]="view.cards_done"
        (cdkDropListDropped)="drop($event)">

      <div class="card mb-1 cursor-grab" *ngFor="let card of view.cards_done" cdkDrag>
        <app-card-task [description]="card.description">

          <app-button-del-card
            (boardViewAfterAdd$)="receveidBoardChild($event)"
            [cardId]="card.id">
          </app-button-del-card>

          <app-button-edit-card
            (boardViewAfterAdd$)="receveidBoardChild($event)"
            [cardId]="card.id">
          </app-button-edit-card>
        </app-card-task>
      </div>

      <button-add-new-card
        (boardViewAfterAdd$)="receveidBoardChild($event)"
        [boardId]="view.board.id"
        [column]="columnName.DONE">
      </button-add-new-card>

    </app-board-column-tasks>
  </div>
</div>
